.center-me{
    display: flex;
    justify-content: center;
}

.text-center{
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .responsive-alignment{
        margin-top: 16.25vh;
    }
    .slides-border{
        margin-top: -6.5vh;
    }
    .thank-you{
        margin-top: 8.5vh;
    }
}

@media screen and (max-width: 767px) { 
    .thank-you{
        margin-top: 12vh;
        margin-bottom: 8.5vh;
    }
}

.headers{
    position: relative;
    background-color: #6d92ab;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 575px) { 
    .headers {
        width: 80vw;
    }
}

.headers h1{
    position: relative;
    text-align: center;
    margin: 5px;
    color: white;
}

.closed{
    display: none;
}

.open{
    display: block;
}

.form-width{
    max-width: 90vw;
}

.submit-btn, .submit-btn:focus, .submit-btn:active{
    margin-top: 10px;
    background-color: #a7b8a0 ;
    color: white;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.submit-btn:hover{
    background-color: #bdd3b4 ;
}

.slides-border{
    border: 4px solid #6d92ab;
    border-radius: 15px;
}

.tile-top{
    margin-top: 45px;
}
.tile-size{
    width: 200px;
    height: 200px;
}
.tile-size h1{
    position: relative;
    top:72px;
    color: #fff;
    text-shadow: 1px 2px 5px black;
    text-align: center;
    margin:0;
}
@media screen and (max-width: 950px) { 
    .tile-size{
        width: 150px;
        height: 150px;
        margin:5px;
    }
    .tile-size h1{
        top:48px;
    }
    .tile-top{
        margin-top: 10px;
    }
    .toy-img{
        margin-top: 5px;
    }
}
@media screen and (max-width: 400px) { 
    .tile-top{
        margin-top: -30px;
    }
}

.giving-img{
    background: url("../../images/giving.jpg") 50% no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}
.reg-img{
    background: url("../../images/register.jpg") 50% no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}
.toy-img{
    background: url("../../images/toy.jpg") 50% no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}
/* Removed the tile-size and tile-size h1 class effects (and class in js) for .christmas-img because the text needed slightly different sizing */
.christmas-img{
    background: url("../../images/christmas.jpg") 50% no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
}
.christmas-img h1{
    position: relative;
    top:53px;
    color: #fff;
    text-shadow: 1px 2px 5px black;
    text-align: center;
    margin:0;
}
/* Adding this media query soly for the unique link */
@media screen and (max-width: 950px) { 
    .christmas-img{
        width: 150px;
        height: 150px;
        margin:5px;
    }
    .christmas-img h1{
        top:30px;
    }
}
@media screen and (min-width: 950px){
    .toy-img{
        margin-top: 10px;
    }
    .christmas-img{
        margin-top: 10px;
    }
}
.res-img{
    background: url("../../images/resource.jpg") 50% no-repeat;
    background-size: cover;
}