.form{
    height: 60vh;
}

.center-me{
    display: flex;
    justify-content: center;
}

.nested{
    width: 80vw;
}

.text-center{
    text-align: center;
}

.headers{
    position: relative;
    background-color: #6d92ab;
    width: 80vw;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.headers h1{
    position: relative;
    text-align: center;
    margin: 5px;
    color: white;
}

.closed{
    display: none;
}

.open{
    display: block;
}

.submit-btn, .submit-btn:focus, .submit-btn:active{
    margin-top: 10px;
    background-color: #a7b8a0 ;
    color: white;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.submit-btn:hover{
    background-color: #bdd3b4 ;
}